{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="container">
    <div class="inline-flex w-full justify-between">
        <h1 class="text-primary">Hello {{ userEmail }}! </h1>
        <a  href="{{ path('app_logout') }}" class="btn-primary">Logout</a>
    </div>
    <div class="inline-flex pt-2">
        <a href="{{ path('app_application') }}" class="btn-primary">Your Apps</a>
        <a href="{{ path('app_new_app') }}" class="btn-primary">Add New App</a>
    </div>

</div>

{% endblock %}
