{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container pb-4">
        <h1 class="text-primary">Please sign in</h1>
        <label for="inputEmail" class="text-primary">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword" class="text-primary">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="btn-primary">
            Sign in
        </button>
    </div>
    <div class="container pb-4">
        <h1 class="text-primary">Not registered?</h1>
        <a href="{{ path('app_register') }}" class="btn-primary">Register</a>
    </div>

</form>
{% endblock %}
